rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow access to users collection
    match /users/{userId} {
      allow read, write: if true;
      
      // Add specific permissions for friendRequests subcollection
      match /friendRequests/{requestId} {
        allow read, write: if true;
      }

      // Add permissions for challenges subcollection
      match /challenges/{challengeId} {
        allow read, write: if true;
      }

      // Add permissions for notifications subcollection
      match /notifications/{notificationId} {
        allow read, write: if true;
      }
    }
    
    // Allow access to friends collection
    match /friends/{friendId} {
      allow read, write: if true;
    }
    
    // Allow public read/write access to all chats and messages
    match /chats/{chatId} {
      allow read, write: if true;
      match /messages/{messageId} {
        allow read, write: if true;
      }
    }
    
    // Allow public read/write access to stickers
    match /stickers/{stickerId} {
      allow read, write: if true;
    }
    
    // NOT SAFE FOR PRODUCTION
    match /workouts/{workoutId} {
      allow read, write: if true;
    }
    
  }
} 